
.detail-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.detail-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-detail {
    margin-left: 10%;
}

.right-detail {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 10%;
    width: 40%;
}

.detail-img {
    display: block;
    width: 600px;
    height: 600px;
}

.detail-artworkTitle { 
    font-size: 50px; 
}

.detail-artistName {
    font-size: 30px; 
    font-style: italic; 
    margin-bottom: 10px; 
}

.detail-size {
    color: rgb(105, 105, 105);
    font-size: 25px;
    margin-bottom: 250px;  
}

.detail-price {
    font-size: 40px; 
    margin-bottom: 30px; 
}

.button-addToCart { 
    border: 1px solid #000000;
    font-family: "Avenir", sans-serif;
    font-size: 18px; 
    padding: 20px; 
    width: 100%; 
    background-color: white; 
    cursor: pointer;
}

.button-addToCart:hover {
    background-color: black; 
    color: white; 
}

.button-addToCart:active, .button-addToCart:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navigate-shop {
    font-size: 18px;
    height: 30px; 
}

.shop-link {
    text-decoration: none;
}

.back-to-shop {
    display: inline;
    color: gray; 
}

.back-to-shop:hover {
    color: black; 
}

.currArtworkName {
    display: inline; 
    color: gray;
}

.detail-recycled-materials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.detail-recycled-materials-image {
    width: 80%;
}

.recycled-materials-info {
    position: absolute;
    margin-top: 170px;
    text-align: center;
}

.recycled-materials-title {
    color: #5F8E85;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.recycled-materials-subtitle {
    color: #7C7979;
    font-size: 18px;
    font-weight: 600;
}

.yellow-box {
    background-color: #FCF5D1;
    width: 294px;
    height: 83px;
    top: 0px;
    left: 40%;
    position: absolute;
}

.pink-box {
    background-color: #F5DDE9;
    width: 275px;
    height: 97px;
    left: 25%;
    top: 30px;
    position: absolute;
}

.orange-box {
    width: 135px;
    height: 69px;
    left: 65%;
    top: 16%;
    background-color: #F6DCC8;
    position: absolute;
}

.green-box {
    width: 320px;
    height: 86px;
    left: 10%;
    top: 40%;
    background-color: #D1E9D7;
    position: absolute;
}

.dark-green-box {
    width: 307px;
    height: 58px;
    right: 10%;
    top: 50%;
    background-color: #C4DBD6;
    position: absolute;
}

.blue-box {
    width: 174px;
    height: 43px;
    left: 25%;
    top: 75%;
    background-color: #B7CEE3;
    position: absolute;
}

.purple-box {
    width: 424px;
    height: 71px;
    background-color: #E6DCEE;
    left: 42%;
    bottom: 0px;
    position: absolute;
}

.other-materials {
    margin-right: 10%;
    float: right;
    margin-top: 60px;
}

.info-box-artist {
    margin-top: 225px;
    margin-left: 10%;
    margin-right: 10%;
}

.info-box-piece {
    margin-top: 150px;
    margin-right: 10%;
    margin-left: 10%;
}

@media screen and (max-width: 1200px) {
    .recycled-materials-info {
        margin-top: 120px;
    }

    .recycled-materials-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .detail-row {
        flex-direction: column;
        padding: 20px;
    }

    .detail-img {
        width: 100%;
        height: 100%;
    }

    .left-detail {
        margin-left:auto;
        margin-right:auto;
    }

    .right-detail {
        width: 100%;
        margin-right: auto;
        margin-left:auto;
    }

    .detail-size {
        margin-bottom: 50px;
    }

    .button-addToCart {
        width: 100%;
    }

    .other-materials {
        margin-right: 0;
    }

    .recycled-materials-info {
        margin-top: 80px;
    }

     .recycled-materials-title {
         font-size: 18px;
     }

     .recycled-materials-subtitle {
         font-size: 14px;
     }
}

@media screen and (max-width: 550px) {

    .detail-artworkTitle {
        font-size: 35px;
    }

    .detail-artistName {
        font-size: 25px;
    }

    .detail-size {
        font-size: 20px;
    }

    .detail-price {
        font-size: 25px; 
    }

    .detail-container {
        margin-top: 0;
    }
    .info-box-piece {
        margin-top: 50px;
    }

    .detail-recycled-materials {
        margin-top: 30px;
    }
    .recycled-materials-info {
        margin-top: 40px;
    }

     .recycled-materials-title {
         font-size: 14px;
     }

     .recycled-materials-subtitle {
         font-size: 12px;
     }
}
