.detail-row:after {
    content: "";
    display: table;
    clear: both;
}

.detail-column {
    float: left; 
}

.left-detail {
    padding-top: 50px; 
    width: 50%; 
    padding-left: 20%;
}

.right-detail {
    padding-top: 50px; 
    width: 50%; 
    padding-right: 20px; 
}

.detail-img {
    /* float: right;  */
    display: block;
    /* margin-left: auto; 
    margin-right: auto;   */
    /* padding-left: 50px; */
    width: 100%;
    height: 35rem;
    top: 50%; 
}

.detail-description {
    padding-left: 20px; 
}

.detail-artworkTitle {
    padding-top: 50px; 
    padding-bottom: 15px; 
    font-size: 35px; 
}

.detail-artistName {
    font-size: 22px; 
    font-style: italic; 
    padding-bottom: 10px; 
}

.detail-line {
    width: 60%;
    height: 1px;
    background-color:rgb(221, 219, 219);
    border: none;
    /* border-top: 1px solid rgb(221, 219, 219); */
}

.detail-size {
    color: rgb(105, 105, 105);
    font-size: 18px;
    padding-bottom: 30px;  
}

.detail-price {
    font-size: 28px; 
    padding-top: 30px; 
    padding-bottom: 50px; 
}

.button-addToCart { 
    border-color: black; 
    font-family: "Avenir", sans-serif;
    font-size: 18px; 
    padding: 20px; 
    width: 60%; 
}

.button-addToCart:hover {
    background-color: black; 
    color: white; 
}

.navigate-shop {
    padding-bottom: 10px; 
    font-size: 18px; 
}

.shop-link {
    text-decoration: none;
}

.back-to-shop {
    display: inline;
    color: gray; 
}

.back-to-shop:hover {
    color: black; 
}

.currArtworkName {
    display: inline; 
    color: gray;
}

@media screen and (max-width: 1200px) {
    .left-detail { 
        padding-left: 10%;
    }
}

@media screen and (max-width: 950px) {
    .detail-column {
        width: 100%; 
        
    }
    .left-detail {
        padding: 0; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
    .detail-img {
        float: none; 
    }
    .detail-description {
        padding:0; 
        transform: translateX(20%); 
    }
    .right-detail {
        padding: 0; 
        width:100%;
        /* transform: translateX(25%); */

    }
}