
.detail-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.left-detail {
}

.right-detail {
    margin-left: 20px;
    margin-top: 30px;
}

.detail-img {
    display: block;
    width: 500px;
    height: 500px;
}

.detail-description {
    padding-left: 20px; 
}

.detail-artworkTitle {
    margin-bottom: 5px; 
    font-size: 35px; 
}

.detail-artistName {
    font-size: 22px; 
    font-style: italic; 
    margin-bottom: 10px; 
}

.detail-line {
    width: 300px;
    height: 1px;
    background-color:rgb(221, 219, 219);
    border: none;
}

.detail-size {
    color: rgb(105, 105, 105);
    font-size: 18px;
    margin-bottom: 40%;  
}

.detail-price {
    font-size: 28px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
}

.button-addToCart { 
    border: 1px solid #000000;
    font-family: "Avenir", sans-serif;
    font-size: 18px; 
    padding: 20px; 
    width: 300px; 
    background-color: white; 
    cursor: pointer;
}

.button-addToCart:hover {
    background-color: black; 
    color: white; 
}

.button-addToCart:active, .button-addToCart:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navigate-shop {
    font-size: 18px;
    height: 30px; 
}

.shop-link {
    text-decoration: none;
}

.back-to-shop {
    display: inline;
    color: gray; 
}

.back-to-shop:hover {
    color: black; 
}

.currArtworkName {
    display: inline; 
    color: gray;
}

@media screen and (max-width: 800px) {
    .detail-row {
        flex-direction: column;
        padding: 20px;
    }

    .left-detail {
        margin-left:auto;
        margin-right:auto;
    }

    .right-detail {
        width: 500px;
        padding-top: 20px;
        margin-right: auto;
        margin-left:auto;
    }

    .detail-line {
        width: 100%;
    }
    .button-addToCart {
        width: 100%;
    }
}
