.container {
	width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

nav {
    text-align: center;
    overflow: auto;
    padding-top: 20px;
    border-bottom: 1px solid rgb(221, 219, 219); 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    transform: translateY(25%);
}

nav a {
    padding-right: 50px;
    /* float: left;  */
    color: rgb(139, 139, 139);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

@media screen and (max-width: 1100px) {
    nav a {
        font-size: 12px; 
    } 
    .logo {
        max-height: 15px; 
    }
    .cart {
        max-height: 15px; 
    }

}

.logo {
    float: left;
    padding-left: 30px;
    display: block;
    max-height: 35px;
    transform: translateY(-25%);
}

.cart {
    float: right;
    padding-right: 30px;
    max-height: 35px;
    transform: translateY(-25%);
}
