.cart-container {
    padding: 20px 0px; 
    border-bottom: 1px solid rgb(204, 201, 201);
    display: flex; 
    flex-direction: row; 
}

.cart-product-image { 
    display: inline-block;
    height: 150px; 
    width: 150px; 
}

.cart-text-container {
    display: flex; 
    flex-direction: column; 
    margin-left: 30px; 
    text-align: left; 
    vertical-align: top;
}

.cart-artwork-name {
    font-size: 30px;
    margin-bottom: 3px; 
}

.cart-artist-name {
    font-size: 20px; 
    font-style: italic; 
    margin-bottom: 18px; 
}

.cart-size-quantity {
    font-size: 16px; 
    margin-top: auto; 
}

.cart-size-label {
    margin-bottom: 5px; 
}

.cart-remove-price-container {
    margin-left: auto; 
    text-align: right;
    display: flex; 
    flex-direction: column;
}

.cart-remove-label {
    color: #C7C7C7; 
    font-size: 16px; 
    cursor: pointer; 
}

.cart-price-label {
    font-size: 18px; 
    margin-top: auto; 
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .cart-product-image {
        width: 75px;
        height: 75px;
    }

    .cart-artwork-name {
        font-size: 16px;
    }

    .cart-artist-name {
        font-size: 14px;
    }
}