.offset-info-box {
    position: relative;
}

.background-box-left {
    background-color: #E5E5E5;
    width: 461px;
    height: 177px;
}

.background-box-right {
    background-color: #E5E5E5;
    width: 461px;
    height: 177px;
    position: absolute;
    right: 0px;
}

.background-box-info-left {
    position: absolute;
    left: 30px;
    top: 30px;
}

.background-box-info-right {
    position: absolute;
    right: 30px;
    top: 30px;
    text-align: right;

}

.background-box-title {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #534F4F;
}

.background-box-description {
    font-size: 25px;
    line-height: 1.6;
    color: #848383;
}

.background-box-container-left-offset {
    position: absolute;
    left: 0px;
}

.background-box-container-right-offset {
    position: absolute;
    right: 0px;
}