.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css?family=Avenir"); 

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: "Avenir", sans-serif;
}

.container {
	width: 100%;
    margin: 0 auto;
    padding-bottom: 20px; 
}

nav {
    text-align: center;
    overflow: auto; 
    padding-top: 20px; 
    border-bottom: 1px solid rgb(221, 219, 219); 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    padding-top: 10px; 
    display: inline-block;
}

nav a {
    padding-right: 50px; 
    /* float: left;  */
    color: rgb(139, 139, 139);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px; 
}

nav a:hover {
    color: #000;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left; 
}

.left {
    width: 25%; 
    padding-left: 30px; 
}

.right {
    width: 75%; 
    padding-right: 30px; 
}

.left-detail {
    padding-top: 50px; 
    width: 50%; 
    padding-left: 20px;
}

.right-detail {
    padding-top: 50px; 
    width: 50%; 
    padding-right: 20px; 
}

.products {
    padding: 4rem 0;
}

.products-center {
    /* width: 90vw; */
    margin: 0 auto;
    /* max-width: 1170px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.product-img {
    display: block;
    width: 100%;
    height: 22rem;
}

.detail-img {
    float: right; 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    width: 70%;
    height: 30rem;
    top: 50%; 
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.artworkTitle { 
    padding-top: 10px; 
    font-size: 20px;
}

/*artist name text */
.artistName { 
    padding-top: 3px; 
    font-size: 16px;
    font-style: italic;
}

/*price text */
.price { 
    padding-top: 10px;
    font-size: 17px;
}

.detail-description {
    padding-left: 20px; 
}

.detail-artworkTitle {
    padding-top: 50px; 
    padding-bottom: 15px; 
    font-size: 35px; 
}

.detail-artistName {
    font-size: 22px; 
    font-style: italic; 
    padding-bottom: 10px; 
}

.detail-line {
    width: 60%;
    background-color: rgb(172, 170, 170);
}

.detail-size {
    color: rgb(105, 105, 105);
    font-size: 18px;
    padding-bottom: 30px;  
}

.detail-price {
    font-size: 28px; 
    padding-top: 30px; 
    padding-bottom: 50px; 
}

.button-addToCart { 
    border-color: black; 
    font-family: "Avenir", sans-serif;
    font-size: 18px; 
    padding: 20px; 
    width: 60%; 
}

.button-addToCart:hover {
    background-color: black; 
    color: white; 
    
}

.checkBoxContainer {
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.checkBoxGroup-label {
    font-size: 20px; 
    padding-bottom: 5px; 
    padding-top: 20px; 
}

.checkBoxGroup-line {
    border-top: 1px solid rgb(187, 187, 187); 
    width: 80%; 
}

.checkBox {
    outline: 0;
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #a9acac;
	padding: 9px;
	display: inline-block;
    position: relative; 
}

.checkBox:checked {
    outline: 0; 
    -webkit-user-select: none;
	border: 1px solid #adb8c0;
	color: #393c3d;
}

.checkBox:checked:after {
    outline: 0; 
    content: '\2713';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
}

.checkBox-label {
    display: inline-block; 
    font-size: 16px; 
    padding-left: 10px; 
    transform: translateY(-25%); 
}

@media screen and (max-width: 1100px) {
    nav a {
        font-size: 12px; 
    }
}

.logo {
    float: left; 
    padding-left: 30px; 
    display: block;
    max-height: 50px;
    transform: translateY(-25%);
}

.cart {
    float: right;
    padding-right: 30px; 
    max-height: 50px; 
    transform: translateY(-25%);
}

.footer {
    padding-top: 25%; 
    margin: 0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-line {
    height: 1px;
    background-color: #ccc;
    border: none;
    width: 100%;
    /* margin-left: 10%;  */
}

.footer-logo {
    padding-top:20px; 
    width: 10%;
}

.footer-text {
    padding-top:10px; 
    padding-bottom: 5px; 
}

.footer-email {
    color: rgb(125, 147, 168);
    padding-bottom: 10px; 
}


