.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    position: relative;
    top: 0px;
}

.slide img {
    max-height: 510px;
    max-width: 60vw;
    position: relative;
    /* cursor: pointer; */
}
